@font-face {
    font-display: swap;
    font-family: BMWTypeNextLatin;
    font-style: normal;
    font-weight: 400;
    src:url(/font/BMWTypeNextLatin.woff2)
}

@font-face {
    font-display: swap;
    font-family: BMWTypeNextLatin Light;
    font-style: normal;
    font-weight: 300;
    src:url(/font/BMWTypeNextLatin-Light.woff2)
}

@font-face {
    font-display: swap;
    font-family: epaasLinkFont;
    font-style: normal;
    font-weight: 700;
    src: local("BMWTypeNextLatin"),url(clientlib-site/resources/fonts/BMWTypeNextLatin.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: epaasTextFont;
    font-style: normal;
    font-weight: 400;
    src: local("BMWTypeNextLatin"),url(clientlib-site/resources/fonts/BMWTypeNextLatin.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 400;
    src: local("Playfair Display"),local("PlayfairDisplay"),url(clientlib-site/resources/fonts/playfair.woff2) format("woff2");
    unicode-range: U+00??,U+0131,U+0152-0153,U+02c6,U+02da,U+02dc,U+2000-206f,U+2074,U+20ac,U+2212,U+2215
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #262626;
    font-family: BMWTypeNextLatin;
    font-weight: 400;
    margin: 0;
}
header{
    display: block;
    margin-top: 1pc;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.header-container{
    display: block;
    background-color: #fff;
    box-shadow: 0 4px 25px rgba(0, 0, 0, .1);
    color: #262626;
    margin: 0 auto;
    padding: 1pc 30px;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .head-inner-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.header-logo-wrapper{
    position: relative;
    display: flex;
    height: 3pc;
    max-width: 300px;
    align-items: center;
}
.logo-link{
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    cursor: pointer;
}
.logo-link img{
    display: block;
    height: 3pc;
    width: auto;
    aspect-ratio: auto 100 / 100;
}
.header-slogan{
    display:block;
    position: absolute;
    top: 50%;
    opacity: 0;
    transform: translateY(-50%) translateX(20px);
    white-space: nowrap;
    font-size: 1pc;
    line-height: 26px;
}
.header-slogan p{
    margin-bottom: 0;
    /* margin: 0 0 25px; */
}
.header-slogan p strong{
    font-family: BMWTypeNextLatin;
    font-weight: 700;
}
.header-burger-menu{
    display: flex;
    justify-content: center;
    min-height: 3pc;
    min-width: 3pc;
    cursor: pointer;
    border: none;
    background:none;
    align-items: center;
    outline: none;
    color: currentColor;
}
.header-burger-menu svg{
    width: 20px;
    height: 20px;
    fill: currentColor;
    color: #262626;
    line-height: 1.15;
    font-size: 100%;

}
#header-nav{
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 6pc;
    width: 100%;
}
#nav-con{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 30px;
    width: 100%;
}

#nav-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
#nav-ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
    width: 100%;
}
#nav-ul li{
    position: relative;
}
#nav-ul li a{
    line-height: 1.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background: transparent;
    color: currentColor;
    cursor: pointer;
    padding: 9pt;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
    font-size: 1.125rem;
}
#search-con{
    display: block;
    order: -1;
    padding: 1rem 0;
    width: 100%;
}
#search-form{
    display:flex;
    gap: 4px;
    width: 100%;
}
#search-input{
    display: block;
    flex-grow: 1;
    height: 50px;
    padding: 0 24px;
    position: relative;
    outline: none;
    z-index: 1;
    border: none;
    background-color: #f8f8f8;
    font-size: 100%;
    line-height: 1.15;
    font-family: BMWTypeNextLatin;
}
.search-btn{
    background-color: #f8f8f8;
    border: 2px solid transparent;
    color: #262626;
    height: 50px;
    min-width: 50px;
    padding: 0 9pt;
    position: relative;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
}
.search-btn svg{
    width: 20px;
    height: 20px;
    fill: currentColor;
    color: #262626;
}